@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body{
	text-align: center;
}


#form{
	margin-top: 15%;

}

#form .logo{
	display: inline-block;
}

#form .form-body{
	margin-top: 5%;
}

#form .rsvp{
	display: block;
    color: #ffffff;
    border: none;
    background: tomato;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.3em;
    width: 80px;
    height: 40px;
    text-decoration: none;
    outline: none;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#form .rsvp:hover{
	background:salmon;
}