<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="rsvp.css">
</head>
<body>


<div id="form">
  <img class="logo" src="../images/logo.png">
  <div class="form-body" ng-controller="BridgeController">
    <button class="rsvp" ng-click="hide">start</button>
  </div>
</div>
</body>

<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="vm.user.email">
  </div>
</form> -->
</html>

