.text-field-form{
  width:59vw;
  margin-top: 30vh;
  padding-left: 20vw;
  padding-right: 20vw;
  font-size: 50%;
}

.text-field-row{
  display:flex;
  margin-bottom: 2vh;
}

.text-field-label{
  display:inline-flex;
  justify-content: left;
  width:300px;
}

.text-field-view{
  display:inline-flex;
  justify-content: center;
  width:300px;
}

.text-field{
  text-align: right;
  display:inline-flex;
  width: 300px;
  border: .2px solid tomato;
}
