body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 4px;
}

.bridge{
	background-image: url('../images/bridge.png');
}
.front-page{
    background-image: url('../images/bridgehacs.jpg');
    background-position: 50% 50%;
    background-size: cover;
  	position: relative;
  	filter: blur(0px);
  	-webkit-filter: blur(0px);
  	left: 0;
  	right: 0;
    height: 800px;
    width: 100%;
    -moz-box-shadow: inset 0 -700px 650px -650px #000000;
    -webkit-box-shadow: inset 0 -700px 650px -650px #000000;
    box-shadow: inset 0 -700px 650px -650px #000000;
}

.title-container {

    position: relative;
    padding-top: 200px;
    width: 100%;
    text-align: center;
}

.title-container h1 {
    font-size: 64px;
    text-align: center;
    margin: 10px 0px 10px 0px !important;
}

.title-container h1 {
    margin: 10px;
    line-height: 130px;
    font-weight: 700;
    font-size: 6em;
    padding-left: 10px;
    padding-right: 10px;
    /*this took a long time to finalize*/
    color:#F2B51F;
}

.title-container h3 {
    padding-top: 250px;
    font-size: .8em;
    font-weight: 200;
}

.about {
    background-color: black;
    position: relative;
    height: 500px;
    color:#F2B51F;
    text-align: center;
}

.about p {
    font-size: .8em;

}