@-webkit-keyframes fadeFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 4px;
}

input {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  width: 90%;
  border: none;
  outline: none;
  background-color: rgba(256, 256, 256, .2);
  color: #FF9100;
  color: rgba(256, 256, 256, .6);
  text-transform: uppercase;
}


[type="search"] {
  -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

*::-webkit-input-placeholder {
  color: rgba(256, 256, 256, .6);
}
*:-moz-placeholder {
  opacity:  .6;
}
*::-moz-placeholder {
  color:    rgba(256, 256, 256, .6);
  opacity:  .6;
}
*:-ms-input-placeholder {
  color:    rgba(256, 256, 256, .6);
}

/*SLIDE 1 - Intro*/
#front-page{
    background-image: url('../images/bridgehacsalternate.jpg');
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    left: 0;
    right: 0;
    height: 800px;
    width: 100%;
    -moz-box-shadow: inset 0 -800px 650px -650px #000000;
    -webkit-box-shadow: inset 0 -800px 650px -650px #000000;
    box-shadow: inset 0 -800px 650px -650px #000000;
}

.title-container {
    position: relative;
    padding-top: 220px;
    width: 100%;
    text-align: center;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeFromRight;
    animation-name: fadeFromRight;
}

.title-container h1 {
    font-size: 64px;
    text-align: center;
    margin: 10px 0px 10px 0px !important;
}

.title-container h1 {
    margin: 10px;
    line-height: 130px;
    font-weight: 700;
    font-size: 6em;
    padding-left: 10px;
    padding-right: 10px;
    /*this took a long time to finalize*/
    color:tomato;
}

#front-page h3 {
    font-size: .8em;
    font-weight: 200;
    text-align: center;
    webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.RSVP{
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.1em;
    width: 250px;
    height: 40px;
    text-decoration: none;
    outline: none;
    webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.RSVP:hover {
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
  background-color: rgba(255, 99, 71, .5);
}

/*SLIDE 2 - About*/

#about {
  background-color: black;
  position: relative;
  height: auto;
  text-align: center;
  max-width: 1800px;
  margin-left: 23%;
  margin-right: 20%;
    
}

#about h2 {
  text-align: center;
  color: tomato;
}

#about p {
  font-size: .8em;
  color:white;

}

#about .about-text{
  color:white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: .8em
  color: #FFFFFF;
  letter-spacing: .5px;
  line-height: 34px;
  opacity: .9;
}

.sponsors {
  display: inline-block;
  margin-bottom: 5%;
  border-radius: 10px;
  padding: 10px;
  max-width: 800px;
}

.sponsor1 {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 50px;
}

.sponsor1:hover {
  -webkit-filter: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.sponsor2 {
  padding-top: 20px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 50px;
}

.sponsor2:hover {
  -webkit-filter: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.softwarehardware{
    display: block;
    background-image: url('../images/softwarehardware2.png');
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    background-size: contain;
    width: 200px;
    height: 150px;
}

/*SLIDE 3 - Participate*/

#participate {
    background-color: black;
    height: 400px;
    text-align: center;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

#participate .form .field{
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  width: 90%;
  background-color: rgba(256, 256, 256, .2);
  color: #FF9100;
  color: white;
}

#participate .form .submit{
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.1em;
    width: 250px;
    height: 40px;
    text-decoration: none; 
    outline: none;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}